.form
{
    display: flex;
    min-height: 4.8rem;    
    align-items: center;
    gap: 1rem;
    position: relative;
    background: var(--ui-bg);
    padding: 1rem 1.5rem;
    border-radius: .8rem;
    box-shadow: var(--ui-shadow);
    margin-bottom: 2rem;

    @media(max-width: 575px)
    {   
        display: grid;
        grid-template: repeat(2, auto) / auto 1fr;        
        gap: 0.5rem 1rem;
    }

    & > label
    {
        cursor: pointer;
    }
    & > div
    {
        display: flex;
        height: 44px;
        flex-grow: 1;
        overflow: auto
    }
    & > div > input
    {       
        min-width: 260px;
        flex-grow: 1;
        background: transparent;
        color: inherit;
        font-size: 1.2rem;                
        border: none;
        outline: none;

        &::placeholder
        {
            color: var(--placeholder-color);
        }
    }
    & > button
    {
        width: 100px;
        height: 3rem;       
        background: var(--primary-color);
        font-size: 1rem;
        color: #fff;
        cursor: pointer;
        border: none;
        border-radius: .5rem;
        transition: background-color .2s;

        @media(max-width: 575px)
        {   
            width: 100%;
            grid-column: span 2;
        }

        @media (any-hover: hover)
        {
            &:hover
            {                
                background: var(--primary-color-hover);
            }
        }        
    }
}