.themeSwitcher
{
    display: flex;
    align-items: center;
    gap: .6rem;  
    color: var(--switcher-color-df);  
    cursor: pointer;
    transition: color .2s;

    @media (any-hover: hover)
    {
        &:hover
        {
            color: var(--switcher-color-hover);
    
            & > svg
            {
                fill: var(--switcher-color-hover);   
            }
        }
    }   

    & > span
    {        
        font-size: .75rem;
        letter-spacing: 2.5px;
        text-transform: uppercase;
    }
    & > svg
    {
        fill: var(--switcher-color-df);
        transition: fill .2s;
    }
}